* {
    background-color: #E5DDC8;
    color: #004369;
    font-size: 18px;
}
h1,
h2,
h3 {
    font-family: "Black Mango Medium", Palatino, "Brush Script MT", fantasy;
    color: #DB1F48;
    font-weight: bold;
}
h1 {
    font-size: 46px;
    text-align: center;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
button {
    background-color: #01949A;
    color: #DB1F48;
}
p,
li {
    font-family: Antic, "Gill Sans", Verdana, sans-serif;
}
#homepage {
    background-color: #01949A;
    font-weight: bolder;
    color:#E5DDC8;
}
.preview {
    padding: 20px;
    display: inline-block;
    background-color: #01949A;
    width: 300px;
    border: #DB1F48;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
}
.preview {
    background-color: #01949A;
    color: #E5DDC8;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
img {
    display: inline;
}
#description *,
#ingredients *,
#steps *{
    
}