html {
    background-color: #FFF6C0;
    color:#224e2e;
    font-family: Didot, serif;
}

h1{
    text-align: center;
    background-color: #F7C85C;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    background-color: #F7C85C;
    display: block;
    box-sizing: border-box;
    width: 500px;
    margin: 10 auto 10 0;
}

#home {
    background-color: #7FB77E;
    color: #FFF6C0;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    border: #F7C85C;
    border-style: solid;
}

/*.steps {
    margin-left: auto;
    margin-right: 0;
}*/

/*img {
    display: inline;
    margin: 10, 0, 10, auto;
}*/